:root {
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}
body {
  color: var(--gray30);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
header {
  font-size: .875rem;
  color: var(--gray20);
}
header a {
  color: var(--gray10);
  text-decoration: none;
}
header a:hover {
  color: var(--gray10);
}
nav details summary {
  font-weight: bold;
}
h1 {
  font-size: 3.75rem;
  margin: 64px 0 16px 0;
}
h1 + p {
  margin-bottom: 64px;
}
hr {
  margin: 64px 0;
}
h2 {
  font-size: 2rem;
  margin: 64px 0 40px 0;
  font-weight: normal;
}
h3 {
  font-size: 1.5rem;
  margin: 16px 0 24px 0;
  font-weight: normal;
}
pre {
  background: #FEC62E;
}
blockquote {
  margin: 32px 0;
}
.hero {
  background: linear-gradient(to top, rgba(255, 255, 255, .3), transparent ), url(../images/pattern.png);
  height: 350px;
}
.section-content {
  margin-top: 164px;
}
.section-content:first-of-type {
  margin-top: 0px;
}
.section-content ol li {
  line-height: 24px;
}
.section-content ul li {
  margin-bottom: 16px;
}
.section-content + hr {
  display: none;
}
.section-content {
  counter-reset: titleList;
}
.section-content img {
  margin-top: 40px;
}
.section-content h3 {
  counter-increment: titleList;
}
.section-content h3::before {
  content: counter(titleList, decimal);

}
.section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
}

